<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign-Up</title>
    <link rel="stylesheet" href="./index.css" />
  </head>
  <body>
    <nav>
      <div>
        <a href="../../../index.html">
          <img src="../../assets/images/logo.png" class="nav-img" alt="Error" />
        </a>
      </div>
      <div class="nav_container">
        <div class="borderCSS">
          <a href="../../../index.html">HOME</a>
          <a href="../../../index.html">ARTICLES</a>
          <a href="../../../index.html">PORTFOLIO</a>
          <a href="../../../index.html">ABOUT</a>
          <a href="../../../index.html">CONTACT</a>
        </div>
      </div>
      <div class="tools">
        <a href="../Donation_Form/index.html" id="Donate_now"
          ><button>DONATE NOW</button></a
        >
        <a href="../signin/index.html" id="login"><button>LOGIN</button></a>
        <a href="./index.html" id="signup"><button>SIGNUP</button></a>
      </div>
    </nav>
    <div class="page">
      <div class="container">
        <div class="left">
          <div class="login">Register User</div>
          <div class="eula">
            By Registering You also join the Team of our Heroes.
          </div>
        </div>
        <div class="right">
          <svg viewBox="0 0 320 300">
            <defs>
              <linearGradient
                inkscape:collect="always"
                id="linearGradient"
                x1="13"
                y1="193.49992"
                x2="307"
                y2="193.49992"
                gradientUnits="userSpaceOnUse"
              >
                <stop style="stop-color: #ff00ff" offset="0" id="stop876" />
                <stop style="stop-color: #ff0000" offset="1" id="stop878" />
              </linearGradient>
            </defs>
          </svg>
          <div class="form" id="signup-form">
            <div class="remain">
              <label for="email">Email<span class="red-star">*</span></label>
              <input type="email" id="email" />
              <label for="password"
                >Password<span class="red-star">*</span></label
              >
              <input type="password" id="password" />
              <label for="name">Name<span class="red-star">*</span></label>
              <input type="text" id="name" />
              <div class="blood_div">
                <label for="blood-group"
                  >Blood-Group<span class="red-star">*</span>
                  <select name="Blood Group" id="blood_selector">
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="AB">AB</option>
                    <option value="O">O</option>
                  </select>
                  <select name="RH" id="rh-selector">
                    <option value="pos">+ (positive)</option>
                    <option value="neg">- (negative)</option>
                  </select>
                </label>
              </div>
              <br /><br />
              <label for="address"
                >Address<span class="red-star">*</span></label
              >
              <input type="text" id="address" />
              <div class="image-block">
                <label for="images">Upload Image</label>
                <input
                  type="file"
                  id="images"
                  accept="image/*"
                  value="Click here"
                />
              </div>
            </div>
            <input type="submit" id="submit" value="Register" />
          </div>
          <div id="final_reference_div"></div>
        </div>
      </div>
    </div>
    <script src="./index.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.min.js"></script>
  </body>
</html>
