<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Centers</title>
    <link rel="stylesheet" href="./index.css" />
    <link rel="stylesheet" href="https://assets.css-tricks.ir/font/font.css" />
  </head>
  <body>
    <nav>
      <div>
        <a href="index.html">
          <img src="../../assets/images/logo.png" class="nav-img" alt="Error" />
        </a>
      </div>
      <div class="nav_container">
        <div class="borderCSS">
          <a>HOME</a>
          <a>ARTICLES</a>
          <a>PORTFOLIO</a>
          <a>ABOUT</a>
          <a>CONTACT</a>
        </div>
      </div>
      <div class="tools">
        <a href="components/pages/Donation_Form/index.html" id="Donate_now"
          ><button>DONATE NOW</button></a
        >
        <a href="components/pages/signin/index.html" id="login"
          ><button>LOGIN</button></a
        >
        <a href="components/pages/signup/index.html" id="signup"
          ><button>SIGNUP</button></a
        >
      </div>
    </nav>
    <div class="content-page">
      <div class="header_page">
        <div class="div1">
          <div id="child-div1">
            <a href="..//index.html">
              <p>Home</p>
            </a>
          </div>
          <div id="child-div2">
            <a href="../Donation_Form/index.html">
              <p>Donate</p>
            </a>
          </div>
          <div id="child-div3">
            <a href="./index.html">
              <p>Locations</p>
            </a>
          </div>
        </div>
        <div class="div2">
          <strong>
            <h1 class="content_title" aria-label="Page Title">
              With about 45 donation locations from coast to coast,B-Donate is
              near you.
            </h1>
          </strong>
        </div>
        <div class="div3">
          <p>B-Donate has blood donation centres in 20 states.</p>
        </div>
      </div>

      <div class="division2">
        <h1>Locations</h1>
        <ul>
          <li>Odisha</li>
          <li>Chattisgarh</li>
          <li>Andhra Pradesh</li>
          <li>West Bengal</li>
          <li>karnataka</li>
          <li>Gujrat</li>
          <li>Madhya Pradesh</li>
          <li>Uttar Pradesh</li>
        </ul>
      </div>

      <div class="division3">
        <div id="child_div4">
          <h2>Take a 60 second Tour of One of Our Donation Centers</h2>
        </div>
        <div id="child_div5">
          <iframe
            width="760"
            height="450"
            src="https://youtu.be/VRPfzGymFZ4"
          ></iframe>
        </div>
      </div>
    </div>
    <script src="./index.js"></script>
  </body>
</html>
